$bgColor=#00bcd4
.header
    display :flex
    justify-content: space-between
    align-items: center
    line-height: 2rem
    background:$bgColor
    color:#fff
    .header-left
        width:2rem
        .back-icon
            font-size: 1.5rem
            text-align: center
    .header-input
        flex:1
        line-height:2rem
        background:#fff
        border-radius:.5rem
        padding-left: .5rem
        margin: .3rem 0
        color:#ccc
    .header-right
        min-width: 2rem
        padding: 0 .4rem
        float:right
        text-align:center
        color: white
        .arrow-icon
           font-size: .7rem 
           margin-left: -.15rem